<h2>Components in Angular - AppComponent</h2>
<hr />

<table>
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>EmployeeDesignation</th>
        <th>DateOfJoining</th>
        <th>EmployeeAddress</th>
        <th>EmployeePhone</th>
        <th>EmployeeAge</th>
        <th>Salary</th>
        <th>City</th>
        <th>CompanyName</th>
    </tr>

    <tr>
      <td>{{this.EmployeeId}} </td>
      <td>{{this.EmployeeName}}</td>
      <td>{{this.EmployeeDesignation}}</td>
      <td>{{this.DateOfJoining}}</td>
      <td>{{this.EmployeeAddress}}</td>
      <td>{{this.EmployeePhone}}</td>
      <td>{{this.EmployeeAge}}</td>
      <td>{{this.Salary | currency: 'USD': true}}</td>
      <td>{{this.City}}</td>
      <td>{{this.CompanyName}}</td>
    </tr>
    </table>
<app-app1></app-app1>
<div class='app-app1'></div>
<div app-app1></div>


<!--<td>{{item.salary | currency:'USD':true:'4.2-2'}}</td> -->
